Repository WencaiLI/hospital: changes, and which GitLab CI jobs are due for each by the changed paths.
All: parent-package, kl-elevator-package, kl-elevator-build, kl-office-package, kl-office-build, kl-environment-package, kl-environment-build, kl-face-recognition-package, kl-face-recognition-build

.gitlab-ci.yml:

image: docker:latest

stages:
  - package
  - build

.package:
  image: maven:3.6.3-jdk-8u242
  stage: package
  script:
#    - mvn -Dfile.encoding=UTF-8 -pl :$MODULE_NAME smart-doc:html
    - mvn -DskipTests -pl :$MODULE_NAME package
  tags:
    - hospital-220
  artifacts:
    paths:
      - $ARTIFACTS_PATH
    expire_in: 5 days
  only:
    refs:
      - develop
  allow_failure: true

.build:
  stage: build
  script:
    - if [[ "$(docker inspect $CONTAINER_NAME 2> /dev/null)" != "" ]];  then docker rm -f $CONTAINER_NAME || true; fi
    - if [[ "$(docker images -q $IMAGE_NAME 2> /dev/null)" != "" ]];  then docker rmi -f $IMAGE_NAME || true; fi
    - docker build -f $DOCKERFILE_PATH -t $IMAGE_NAME .
    - docker run --restart=always -d --name $CONTAINER_NAME -v /home/logs:/logs --net host -e SERVICE_NAME=$CONTAINER_NAME -e OAP_SERVICE=10.10.49.220:11800 $IMAGE_NAME
  tags:
    - hospital-220
  only:
    refs:
      - develop
  allow_failure: true

parent-package:
  image: maven:3.6.3-jdk-8u242
  stage: package
  script:
    - mvn -N clean install
  tags:
    - hospital-220
  only:
    refs:
      - develop
    changes:
      - pom.xml


kl-elevator-package:
  variables:
    MODULE_NAME: kl-elevator
    ARTIFACTS_PATH: ./kl-elevator/target/*.jar
  extends: .package
  only:
    changes:
      - kl-elevator/**/*

kl-elevator-build:
  variables:
    CONTAINER_NAME: kl-elevator
    IMAGE_NAME: 10.10.49.220:35000/kl-elevator:1.0
    DOCKERFILE_PATH: ./kl-elevator/Dockerfile
  extends: .build
  only:
    changes:
      - kl-elevator/**/*

kl-office-package:
  variables:
    MODULE_NAME: kl-office
    ARTIFACTS_PATH: ./kl-office/target/*.jar
  extends: .package
  only:
    changes:
      - kl-office/**/*

kl-office-build:
  variables:
    CONTAINER_NAME: kl-office
    IMAGE_NAME: 10.10.49.220:35000/kl-office:1.0
    DOCKERFILE_PATH: ./kl-office/Dockerfile
  extends: .build
  only:
    changes:
      - kl-office/**/*

kl-environment-package:
  variables:
    MODULE_NAME: kl-environment
    ARTIFACTS_PATH: ./kl-environment/target/*.jar
  extends: .package
  only:
    changes:
      - kl-environment/**/*

kl-environment-build:
  variables:
    CONTAINER_NAME: kl-environment
    IMAGE_NAME: 10.10.49.220:35000/kl-environment:1.0
    DOCKERFILE_PATH: ./kl-environment/Dockerfile
  extends: .build
  only:
    changes:
      - kl-environment/**/*

kl-face-recognition-package:
  variables:
    MODULE_NAME: kl-face_recognition
    ARTIFACTS_PATH: ./kl-face_recognition/target/*.jar
  extends: .package
  only:
    changes:
      - kl-face_recognition/**/*

kl-face-recognition-build:
  variables:
    CONTAINER_NAME: kl-face-recognition
    IMAGE_NAME: 10.10.49.220:35000/kl-face-recognition:1.0
    DOCKERFILE_PATH: ./kl-face_recognition/Dockerfile
  extends: .build
  only:
    changes:
      - kl-face_recognition/**/*

修改环境监测接口
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
Due: kl-environment-package, kl-environment-build

修改公车调度排行接口
  kl-office/src/main/resources/mapper/TblVehicleMaintenanceMapper.xml
Due: kl-office-package, kl-office-build

修改pom文件
  kl-office/pom.xml
  pom.xml
Due: parent-package, kl-office-package, kl-office-build

清理maven依赖
  kl-face_recognition/pom.xml
Due: kl-face-recognition-package, kl-face-recognition-build

:bug: 电梯添加视角信息
  kl-elevator/src/main/java/com/thtf/elevator/dto/ElevatorInfoResultDTO.java
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/ElevatorServiceImpl.java
Due: kl-elevator-package, kl-elevator-build

:recycle: 重构公车状态统计
  kl-office/src/main/java/com/thtf/office/common/enums/VehicleStatusEnum.java
  kl-office/src/main/java/com/thtf/office/service/impl/VehicleStatisticsServiceImpl.java
  kl-office/src/main/resources/mapper/TblVehicleInfoMapper.xml
Due: kl-office-package, kl-office-build

:recycle: 重构公车状态统计
  kl-office/src/main/java/com/thtf/office/common/enums/VehicleStatusEnum.java
  kl-office/src/main/java/com/thtf/office/service/impl/TblVehicleCategoryServiceImpl.java
  kl-office/src/main/java/com/thtf/office/service/impl/VehicleStatisticsServiceImpl.java
  kl-office/src/main/resources/mapper/TblVehicleInfoMapper.xml
Due: kl-office-package, kl-office-build

:recycle: 重构公车调度排行统计
  kl-office/src/main/java/com/thtf/office/service/impl/VehicleStatisticsServiceImpl.java
Due: kl-office-package, kl-office-build

:white_check_mark: 重启office服务
  kl-office/src/main/java/com/thtf/office/service/impl/TblContractRelationServiceImpl.java
Due: kl-office-package, kl-office-build

:white_check_mark: 重启环境、人脸识别、电梯服务
  kl-elevator/src/main/java/com/thtf/elevator/controller/ElevatorController.java
  kl-environment/src/main/java/com/thtf/environment/config/RedisAutoConfig.java
  kl-face_recognition/src/main/java/com/thtf/face_recognition/application/FaceRecognitionService.java
Due: kl-elevator-package, kl-elevator-build, kl-environment-package, kl-environment-build, kl-face-recognition-package, kl-face-recognition-build

:wrench: 修改nacos配置信息添加密码
  kl-elevator/src/main/resources/bootstrap.yml
  kl-environment/src/main/resources/bootstrap.yml
  kl-face_recognition/src/main/resources/bootstrap.yml
  kl-office/src/main/resources/bootstrap.yml
Due: kl-elevator-package, kl-elevator-build, kl-office-package, kl-office-build, kl-environment-package, kl-environment-build, kl-face-recognition-package, kl-face-recognition-build

补充电梯视角
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/ElevatorServiceImpl.java
Due: kl-elevator-package, kl-elevator-build

:wrench: 触发重启
  kl-office/src/main/resources/application.yml
Due: kl-office-package, kl-office-build
