Repository WencaiLI/hospital: changes, and which GitLab CI jobs are due for each by the changed paths.
All: parent-package, kl-elevator-package, kl-elevator-build, kl-office-package, kl-office-build, kl-environment-package, kl-environment-build, kl-face-recognition-package, kl-face-recognition-build

parent-package:
  image: maven:3.6.3-jdk-8u242
  stage: package
  script:
  - mvn -N clean install
  tags:
  - hospital-220

kl-elevator-package:
  image: maven:3.6.3-jdk-8u242
  stage: package
  script:
  - mvn -DskipTests -pl :$MODULE_NAME package
  tags:
  - hospital-220
  artifacts:
    paths:
    - $ARTIFACTS_PATH
    expire_in: 5 days
  allow_failure: true
  variables:
    MODULE_NAME: kl-elevator
    ARTIFACTS_PATH: ./kl-elevator/target/*.jar

kl-elevator-build:
  stage: build
  script:
  - if [[ "$(docker inspect $CONTAINER_NAME 2> /dev/null)" != "" ]];  then docker rm -f $CONTAINER_NAME || true; fi
  - if [[ "$(docker images -q $IMAGE_NAME 2> /dev/null)" != "" ]];  then docker rmi -f $IMAGE_NAME || true; fi
  - docker build -f $DOCKERFILE_PATH -t $IMAGE_NAME .
  ...

kl-office-package:
  image: maven:3.6.3-jdk-8u242
  stage: package
  script:
  - mvn -DskipTests -pl :$MODULE_NAME package
  tags:
  - hospital-220
  artifacts:
    paths:
    - $ARTIFACTS_PATH
    expire_in: 5 days
  allow_failure: true
  variables:
    MODULE_NAME: kl-office
    ARTIFACTS_PATH: ./kl-office/target/*.jar

kl-office-build:
  stage: build
  script:
  - if [[ "$(docker inspect $CONTAINER_NAME 2> /dev/null)" != "" ]];  then docker rm -f $CONTAINER_NAME || true; fi
  - if [[ "$(docker images -q $IMAGE_NAME 2> /dev/null)" != "" ]];  then docker rmi -f $IMAGE_NAME || true; fi
  - docker build -f $DOCKERFILE_PATH -t $IMAGE_NAME .
  ...

kl-environment-package:
  image: maven:3.6.3-jdk-8u242
  stage: package
  script:
  - mvn -DskipTests -pl :$MODULE_NAME package
  tags:
  - hospital-220
  artifacts:
    paths:
    - $ARTIFACTS_PATH
    expire_in: 5 days
  allow_failure: true
  variables:
    MODULE_NAME: kl-environment
    ARTIFACTS_PATH: ./kl-environment/target/*.jar

kl-environment-build:
  stage: build
  script:
  - if [[ "$(docker inspect $CONTAINER_NAME 2> /dev/null)" != "" ]];  then docker rm -f $CONTAINER_NAME || true; fi
  - if [[ "$(docker images -q $IMAGE_NAME 2> /dev/null)" != "" ]];  then docker rmi -f $IMAGE_NAME || true; fi
  - docker build -f $DOCKERFILE_PATH -t $IMAGE_NAME .
  ...

kl-face-recognition-package:
  image: maven:3.6.3-jdk-8u242
  stage: package
  script:
  - mvn -DskipTests -pl :$MODULE_NAME package
  tags:
  - hospital-220
  artifacts:
    paths:
    - $ARTIFACTS_PATH
    expire_in: 5 days
  allow_failure: true
  variables:
    MODULE_NAME: kl-face_recognition
    ARTIFACTS_PATH: ./kl-face_recognition/target/*.jar

kl-face-recognition-build:
  stage: build
  script:
  - if [[ "$(docker inspect $CONTAINER_NAME 2> /dev/null)" != "" ]];  then docker rm -f $CONTAINER_NAME || true; fi
  - if [[ "$(docker images -q $IMAGE_NAME 2> /dev/null)" != "" ]];  then docker rmi -f $IMAGE_NAME || true; fi
  - docker build -f $DOCKERFILE_PATH -t $IMAGE_NAME .
  ...

修改车辆的信息
  kl-office/src/main/java/com/thtf/office/service/impl/TblVehicleCategoryServiceImpl.java
  kl-office/src/main/resources/mapper/TblVehicleInfoMapper.xml
  kl-office/src/main/resources/mapper/TblVehicleSchedulingMapper.xml
Due: kl-office-package, kl-office-build

排除已淘汰车辆状态统计
  kl-office/src/main/java/com/thtf/office/service/impl/TblVehicleCategoryServiceImpl.java
  kl-office/src/main/resources/mapper/TblVehicleInfoMapper.xml
Due: kl-office-package, kl-office-build

修改查询公车信息接口
  kl-office/src/main/java/com/thtf/office/controller/VehicleInfoController.java
  kl-office/src/main/java/com/thtf/office/dto/converter/VehicleInfoConverter.java
  kl-office/src/main/java/com/thtf/office/service/TblVehicleInfoService.java
  kl-office/src/main/java/com/thtf/office/service/impl/TblVehicleInfoServiceImpl.java
  kl-office/src/main/java/com/thtf/office/vo/VehicleInfoVO.java
Due: kl-office-package, kl-office-build

修改修改调度状态接口
  kl-office/src/main/java/com/thtf/office/service/impl/TblVehicleInfoServiceImpl.java
  kl-office/src/main/java/com/thtf/office/service/impl/TblVehicleSchedulingServiceImpl.java
Due: kl-office-package, kl-office-build

修改办公服务接口
  kl-office/src/main/java/com/thtf/office/vo/VehicleInfoVO.java
Due: kl-office-package, kl-office-build

修改修改调度记录接口
  kl-office/src/main/java/com/thtf/office/service/impl/TblVehicleSchedulingServiceImpl.java
Due: kl-office-package, kl-office-build

公车添加调度测试
  kl-office/src/main/java/com/thtf/office/service/impl/TblVehicleInfoServiceImpl.java
  kl-office/src/main/java/com/thtf/office/service/impl/TblVehicleSchedulingServiceImpl.java
Due: kl-office-package, kl-office-build

添加获取电梯设备信息接口
  kl-elevator/src/main/java/com/thtf/elevator/controller/ElevatorController.java
  kl-elevator/src/main/java/com/thtf/elevator/service/ElevatorService.java
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/ElevatorServiceImpl.java
  kl-elevator/src/main/java/com/thtf/elevator/vo/QueryItemParamVO.java
Due: kl-elevator-package, kl-elevator-build

修改获取设备信息接口
  kl-elevator/src/main/java/com/thtf/elevator/controller/ElevatorController.java
  kl-elevator/src/main/java/com/thtf/elevator/dto/convert/ItemConverter.java
  kl-elevator/src/main/java/com/thtf/elevator/service/ElevatorService.java
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/ElevatorServiceImpl.java
Due: kl-elevator-package, kl-elevator-build

修改公车调度排行接口
  kl-office/src/main/java/com/thtf/office/dto/VehicleNumberTypeCodeDTO.java
  kl-office/src/main/java/com/thtf/office/mapper/TblVehicleInfoMapper.java
  kl-office/src/main/resources/mapper/TblVehicleInfoMapper.xml
  kl-office/src/main/resources/mapper/TblVehicleSchedulingMapper.xml
Due: kl-office-package, kl-office-build

修改统计加上设备类别
  kl-elevator/src/main/java/com/thtf/elevator/controller/ElevatorController.java
  kl-elevator/src/main/java/com/thtf/elevator/service/ElevatorService.java
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/ElevatorServiceImpl.java
Due: kl-elevator-package, kl-elevator-build

修改环境统计监测接口
  kl-environment/src/main/resources/mapper/TblAlarmHandleMapper.xml
Due: kl-environment-package, kl-environment-build

修改环境监测每月统计
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
Due: kl-environment-package, kl-environment-build

修改环境监测按月统计数据接口
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
Due: kl-environment-package, kl-environment-build

修改环境监测接口
  kl-environment/src/main/java/com/thtf/environment/dto/PageInfoVO.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/vo/EnvMonitorItemParamVO.java
Due: kl-environment-package, kl-environment-build

修改电梯接口
  kl-elevator/src/main/java/com/thtf/elevator/KlElevator9020Application.java
  kl-elevator/src/main/java/com/thtf/elevator/common/constant/ItemTypeConstant.java
  kl-elevator/src/main/java/com/thtf/elevator/common/constant/ParameterConstant.java
  kl-elevator/src/main/java/com/thtf/elevator/config/ItemParameterConfig.java
  kl-elevator/src/main/java/com/thtf/elevator/controller/ElevatorController.java
  kl-elevator/src/main/java/com/thtf/elevator/controller/app/AppElevatorController.java
  kl-elevator/src/main/java/com/thtf/elevator/dto/ElevatorInfoResultDTO.java
  kl-elevator/src/main/java/com/thtf/elevator/dto/convert/FloorConverter.java
  kl-elevator/src/main/java/com/thtf/elevator/service/ElevatorAppService.java
  kl-elevator/src/main/java/com/thtf/elevator/service/ElevatorService.java
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/CommonService.java
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/ElevatorAppServiceImpl.java
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/ElevatorServiceImpl.java
  kl-elevator/src/main/java/com/thtf/elevator/vo/AppItemSortVO.java
Due: kl-elevator-package, kl-elevator-build

修改信息发布和广播的接口设置参数成可配置
  kl-environment/src/main/java/com/thtf/environment/config/ItemParameterConfig.java
  kl-environment/src/main/java/com/thtf/environment/controller/BroadcastController.java
  kl-environment/src/main/java/com/thtf/environment/controller/EnvMonitorController.java
  kl-environment/src/main/java/com/thtf/environment/controller/InfoPublishController.java
  kl-environment/src/main/java/com/thtf/environment/controller/app/AppEnvMonitorController.java
  kl-environment/src/main/java/com/thtf/environment/dto/convert/AlarmConvert.java
  kl-environment/src/main/java/com/thtf/environment/service/BroadcastService.java
  kl-environment/src/main/java/com/thtf/environment/service/EnvMonitorService.java
  kl-environment/src/main/java/com/thtf/environment/service/InfoPublishService.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/AppEnvMonitorServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/BroadcastServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/CommonService.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/InfoPublishServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/vo/ListLargeScreenInfoParamVO.java
Due: kl-environment-package, kl-environment-build

修改电梯接口
  kl-elevator/src/main/java/com/thtf/elevator/dto/ElevatorInfoResultDTO.java
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/ElevatorServiceImpl.java
Due: kl-elevator-package, kl-elevator-build

修改电梯报警接口
  kl-elevator/src/main/java/com/thtf/elevator/dto/ElevatorAlarmResultDTO.java
  kl-elevator/src/main/java/com/thtf/elevator/dto/ElevatorInfoResultDTO.java
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/ElevatorServiceImpl.java
Due: kl-elevator-package, kl-elevator-build

修改接口（添加区域）
  kl-elevator/src/main/java/com/thtf/elevator/controller/ElevatorController.java
  kl-elevator/src/main/java/com/thtf/elevator/controller/app/AppElevatorController.java
  kl-elevator/src/main/java/com/thtf/elevator/service/ElevatorAppService.java
  kl-elevator/src/main/java/com/thtf/elevator/service/ElevatorService.java
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/CommonService.java
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/ElevatorAppServiceImpl.java
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/ElevatorServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/AppEnvMonitorServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/BroadcastServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/InfoPublishServiceImpl.java
  kl-face_recognition/src/main/java/com/thtf/face_recognition/service/impl/FaceRecognitionServiceImpl.java
  kl-face_recognition/src/main/java/com/thtf/face_recognition/service/impl/MegviiApiServiceImpl.java
Due: kl-elevator-package, kl-elevator-build, kl-environment-package, kl-environment-build, kl-face-recognition-package, kl-face-recognition-build

修改环境App接口
  kl-environment/src/main/java/com/thtf/environment/service/impl/AppEnvMonitorServiceImpl.java
Due: kl-environment-package, kl-environment-build

修改人脸识别接口
  kl-face_recognition/src/main/java/com/thtf/face_recognition/common/config/ItemParameterConfig.java
  kl-face_recognition/src/main/java/com/thtf/face_recognition/service/impl/CommonService.java
  kl-face_recognition/src/main/java/com/thtf/face_recognition/service/impl/FaceRecognitionServiceImpl.java
  kl-face_recognition/src/main/java/com/thtf/face_recognition/service/impl/MegviiApiServiceImpl.java
  kl-face_recognition/src/main/java/com/thtf/face_recognition/service/impl/RedisOperationService.java
  kl-face_recognition/src/main/java/com/thtf/face_recognition/vo/FaceRecognitionItemResultVO.java
Due: kl-face-recognition-package, kl-face-recognition-build

修改接口，添加对建筑的显示
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/ElevatorServiceImpl.java
Due: kl-elevator-package, kl-elevator-build

修改环境监测报警接口
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
Due: kl-environment-package, kl-environment-build

修改环境监测信息
  kl-environment/src/main/java/com/thtf/environment/controller/EnvMonitorController.java
  kl-environment/src/main/java/com/thtf/environment/service/EnvMonitorService.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
Due: kl-environment-package, kl-environment-build

修改获取单位接口
  kl-environment/src/main/java/com/thtf/environment/controller/EnvMonitorController.java
  kl-environment/src/main/java/com/thtf/environment/service/EnvMonitorService.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/vo/CodeUnitVO.java
Due: kl-environment-package, kl-environment-build

修改环境监测接口
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
Due: kl-environment-package, kl-environment-build

修改bug
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
Due: kl-environment-package, kl-environment-build

修改排序接口
  kl-office/src/main/resources/mapper/TblVehicleInfoMapper.xml
Due: kl-office-package, kl-office-build

修改电梯接口
  kl-elevator/src/main/java/com/thtf/elevator/dto/ElevatorInfoResultDTO.java
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/ElevatorServiceImpl.java
  kl-elevator/src/main/java/com/thtf/elevator/vo/ElevatorStatusVO.java
Due: kl-elevator-package, kl-elevator-build

修改信息发布广播接口
  kl-elevator/src/main/java/com/thtf/elevator/controller/ElevatorController.java
  kl-elevator/src/main/java/com/thtf/elevator/controller/app/AppElevatorController.java
  kl-elevator/src/main/java/com/thtf/elevator/service/ElevatorAppService.java
  kl-elevator/src/main/java/com/thtf/elevator/service/impl/ElevatorServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/config/ItemParameterConfig.java
  kl-environment/src/main/java/com/thtf/environment/controller/BroadcastController.java
  kl-environment/src/main/java/com/thtf/environment/controller/EnvMonitorController.java
  kl-environment/src/main/java/com/thtf/environment/controller/InfoPublishController.java
  kl-environment/src/main/java/com/thtf/environment/dto/ItemInfoOfBroadcastDTO.java
  kl-environment/src/main/java/com/thtf/environment/dto/ItemInfoOfLargeScreenDTO.java
  kl-environment/src/main/java/com/thtf/environment/dto/ItemPlayInfoDTO.java
  kl-environment/src/main/java/com/thtf/environment/dto/convert/AlarmConvert.java
  kl-environment/src/main/java/com/thtf/environment/service/AppEnvMonitorService.java
  kl-environment/src/main/java/com/thtf/environment/service/BroadcastService.java
  kl-environment/src/main/java/com/thtf/environment/service/EnvMonitorService.java
  kl-environment/src/main/java/com/thtf/environment/service/InfoPublishService.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/AppEnvMonitorServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/BroadcastServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/CommonService.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/InfoPublishServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/vo/InfoPublishParameterVO.java
  kl-environment/src/main/java/com/thtf/environment/vo/ListLargeScreenInfoParamVO.java
  kl-face_recognition/src/main/java/com/thtf/face_recognition/controller/FaceRecognitionController.java
Due: kl-elevator-package, kl-elevator-build, kl-environment-package, kl-environment-build, kl-face-recognition-package, kl-face-recognition-build

修改信息发布接口
  kl-environment/src/main/java/com/thtf/environment/service/impl/InfoPublishServiceImpl.java
Due: kl-environment-package, kl-environment-build

修改接口
  kl-environment/src/main/java/com/thtf/environment/controller/EnvMonitorController.java
  kl-environment/src/main/java/com/thtf/environment/dto/convert/ItemTypeConvert.java
  kl-environment/src/main/java/com/thtf/environment/service/EnvMonitorService.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/vo/CodeNameVO.java
Due: kl-environment-package, kl-environment-build

修改环境监测三服务的参数
  kl-environment/src/main/java/com/thtf/environment/config/ItemParameterConfig.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/BroadcastServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/InfoPublishServiceImpl.java
Due: kl-environment-package, kl-environment-build

环境检测添加分页信息
  kl-environment/src/main/java/com/thtf/environment/controller/BroadcastController.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
Due: kl-environment-package, kl-environment-build

修改环境监测获取设备信息接口
  kl-environment/src/main/java/com/thtf/environment/controller/EnvMonitorController.java
  kl-environment/src/main/java/com/thtf/environment/service/EnvMonitorService.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
  kl-environment/src/main/java/com/thtf/environment/vo/ItemVO.java
Due: kl-environment-package, kl-environment-build

环境监测点位添加单位
  a.xlsclass com.thtf.office.dto.VehicleInfoExcelErrorImportDTO
  kl-environment/src/main/java/com/thtf/environment/controller/EnvMonitorController.java
  kl-environment/src/main/java/com/thtf/environment/dto/EnvItemMonitorDTO.java
  kl-environment/src/main/java/com/thtf/environment/service/EnvMonitorService.java
  kl-environment/src/main/java/com/thtf/environment/service/impl/EnvMonitorServiceImpl.java
Due: kl-environment-package, kl-environment-build

清除Excel导入主题痕迹
  kl-office/src/main/java/com/thtf/office/common/exportExcel/EasyExcelStyleUtils.java
Due: kl-office-package, kl-office-build

Path conditions:
  parent-package: any of: pom.xml
  kl-elevator-package: any of: kl-elevator/**/*
  kl-elevator-build: any of: kl-elevator/**/*
  kl-office-package: any of: kl-office/**/*
  kl-office-build: any of: kl-office/**/*
  kl-environment-package: any of: kl-environment/**/*
  kl-environment-build: any of: kl-environment/**/*
  kl-face-recognition-package: any of: kl-face_recognition/**/*
  kl-face-recognition-build: any of: kl-face_recognition/**/*
